@import './base.css';

#app {
  top:0px;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}
router-link-active{}
a{
  color:rgb(0, 0, 0);
  width: fit-content;
  display: block;}

@media (hover: hover) {
  a:hover {

  }
}

body {display:block;height:100vw;width:100vw;position:fixed;overflow:hidden;
}

#app {display:block;height:100vh;max-height:100vh;width:100vw;max-width:100vw;position:fixed;overflow-y:auto;overflow-x:hidden;
}
@media (min-width: 1024px) {
  body {display:block;height:100vw;width:100vw;position:fixed;overflow:hidden;
  }

  #app {display:block;height:100vh;max-height:100vh;width:100vw;max-width:100vw;position:fixed;overflow-y:auto;overflow-x:hidden;
  }
}